[submodule "runtime-spec"]
	path = runtime-spec
	url = git@github.com:opencontainers/runtime-spec.git
[submodule "image-spec"]
	path = image-spec
	url = git@github.com:opencontainers/image-spec.git
[submodule "yajl"]
	path = yajl
	url = git@github.com:containers/yajl.git
